

body{
background-image: url("background white.png");
  background-size: cover;
}

.project-container{
  width: 1150px;
  margin: 60px auto;
}

.project-header{
  background:#ffffff;
  text-align: center;
  border: 5px solid #d3d3d3;
  outline:5px solid #000;
}

.project-header h1{
  font-size: 40px;
  color: #516456;
}

.project-grid{
  margin-top: 50px;
  display: grid;
  grid-template-columns: max-content 300px;
  gap: 40px;
  justify-content: center; 
  align-items: start;
}

.frame{
  border: 10px solid #c5c5c5;
  outline: 3px solid #000;
}


.project-preview{
  display: inline-block;
}

.project-iframe{
  width: 400px;
  height: 400px;

}

.frame-about .frame-inner{
  background: #efefef;
  padding: 18px;
}

.about-title{
  text-align: center;
  font-size: 40px;
  color: #1e1e1e;
}

.frame-about p{
  font-size: 22px;
  line-height: 1.4;
  color: #000000;
}

