* {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("background white.png");

}

img {
  width: 260px;   
  height: auto;
}

.grid-container {
  display: grid;
  width: 1000px;
  grid-template-columns: 260px 1fr;
  margin: 10px auto;
  align-items: start;
}

.item1 {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.info-box {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  gap: 30px;
  margin-top: 100px;
  margin-left: 90px;  
}

.item3 {
  position: relative;
}

.item3 .social-links {
  position: absolute;
  left: 18px;
  top: 55px;
  display: flex;
  flex-direction: column;
}

.item3 .social-links a {
  font-size: 23px;
  color: rgb(90, 107, 82);
  text-decoration: none;
}

.assign-wrap {
  position: relative;
}

.assignment-links {
  position: absolute;
  left: 18px;
  top: 58px;
  display: flex;
  flex-direction: column;
}

.assignment-links a {
  font-size: 20px;
  color: rgb(78, 89, 75);
  text-decoration: none;
}

.back-home{
  position: fixed;
  top: 20px;
  left: 20px;
  background: #ffffff;
  border: 3px solid #000;
  padding: 10px 14px;
  text-decoration: none;
  color: #000;
  font-size: 18px;

}
